<!DOCTYPE html>
<html>
    <head>
        <title>My info</title>
    </head>
    <body>
        <h3>My name is Vyom Sachan</h3>
        <br>
        <p>I will be majoring in Mechanical Engineering Technology at the University of Cincinnati</p>
        <br>
        <h2>Name : {{name}}</h2>
        <br>
        <h2>Age : {{age}}</h2>
        <br>
        <img src = "{{url_for('static', filename = 'me.JPG')}}" alt = "Reference your my image present in the static folder"/>
    </body>
</html>